{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {# This friendly message is coming from: {{ dump(peintures) }} #}
    <ul>
    {% for peinture in peintures %}
        <li>Titre : <b>{{ peinture.titre }}</b> ({{ peinture.creationDate|date('Y') }}) de taille (h*l) {{ peinture.hauteur }}cm * {{ peinture.largeur }}cm (soit {{ peinture.taille.format }}) se trouvant {{ peinture.situation.collection }} ({{ peinture.location }}). Cette peinture a un encadrement : {{ peinture.cadre.encadrement }}
            <ul>
                Catégories :
                {% for cat in peinture.categorie %}
                <li>
                    {{ cat.nom }}
                </li>
                {% endfor %}
            </ul>
            <ul>
                Techniques :
                {% for tech in peinture.technique %}
                <li>
                    {{ tech.type }}
                </li>
                {% endfor %}
            </ul>
            Photo : <img src="https://picsum.photos/{{ peinture.hauteur }}0/{{ peinture.largeur }}0" />
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
